.profile-sublogo {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	background: url('../images/profile-sublogo.png') no-repeat;
	height: 23px;
	width: 84px;
	background-size: contain;
	color: #333;
}

.coworkers-sublogo {
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	background: url('../images/coworkers-sublogo.png') no-repeat;
	height: 23px;
	width: 142px;
	background-size: contain;
	color: #333;
}

.profile-photo {
	height: 80px;
	border-radius: 40px;
}

.profile-small-photo {
	height: 60px;
	width: 60px;
	border-radius: 30px;
}

.profile-userinfo-block {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}

.profile-team-member {
	margin-bottom: 15px;
}

.medium-heading {
	font-size: 16px;
	margin-bottom:10px;
}

.medium-value {
	font-size: 16px;
	color: #666;
	margin-bottom:25px;
}

.review-info {
	padding-top: 7px;
	font-size: 16px;
}

.small-menu {
	margin-bottom: 15px;
}

.small-menu > .small-menu-item {
	float: left;
	margin-right: 25px;
	padding-bottom: 10px;
	font-size: 16px;
	color: #3ba5c0;
	cursor: pointer;
}

.small-menu > .small-menu-item.active {
	color: #333;
	border-bottom: 1px solid #3ba5c0;
}

.badge.red-badge {
	font-weight: normal;
	font-size: 10px;
	line-height: 9px;
	padding: 4px 6px;
	background-color: #e85c41;
}

.row.block-panel {
	margin-right: 15px;
	margin-left: 15px;
}

.goal-block {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
}

.goal-block > div {
	height: 100%;
	line-height: 50px;
}

.due-date-red {
	color: #e85c41;
}

.goal-image > img{
	height: 50px;
	width: 50px;
}

.goal-progress {
	margin-top: 15px;
}

.goal-due-date {
	text-align: center;
}


.questionnaire-info {
	font-size: 16px;
	margin-top: 7px;
}

.questionnaire-due-date {
	text-align: center;
	line-height: 60px;
}

#main-menu {
	float: right;
    margin-top: 33px;
}

#main-menu > .small-menu {
	margin-bottom:0;
}

.coworker-info {
	margin-top: 10px;
}

.coworker-value {
	font-size: 14px;
	line-height: 22px;
}

.coworker-value-small {
	font-size: 13px;
	line-height: 22px;
}

.coworker-heading {
	font-size: 15px;
}

.small-menu-item > a {
	text-decoration: none;
	color: #333;
}

.input {
    margin-top: 10px;
    width: 100%;
    height: 48px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    border: 0;
    padding: 10px 8px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ccc;
    -webkit-transition: border .1s linear,box-shadow .1s linear;
    -moz-transition: border .1s linear,box-shadow .1s linear;
    -o-transition: border .1s linear,box-shadow .1s linear;
    transition: border .1s linear,box-shadow .1s linear;
}
.input.input-small {
    height: 25px;
}

.profile-userinfo-block[role="form"] {
    display: none;
    width: 320px;
}

.profile-userinfo-block[role="form"] input {
    padding: 5px 8px;
    height: 28px;
    display: inline-block;
}

.profile-userinfo-block[role="form"] .profile-fullname #firstName,
  .profile-userinfo-block[role="form"] .profile-fullname #lastName{
    width: 49%;
}

.block-panel-inner {
    position: relative;
}
.block-panel-inner > .edit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.block-panel-inner > .save-button {
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
}

.calendar-header {
    margin-top: 10px;
    margin-bottom: 20px;
}
.calendar-month-picker {
    display: inline-block;
}
.month-arrow, .month-current {
    display: inline-block;
}
.month-arrow {
    height: 25px;
}
.month-arrow > img {
    margin-bottom: 5px
}
.month-arrow:first-child {
    margin-right: 10px;
}
.month-arrow:last-child {
    margin-left: 10px;
}
.month-current {
    font-size: 18px;
    margin-top: 4px;
}
.calendar-add-event {
    float:right;
    margin-top: 10px;
    color: #5dc369;
    cursor: pointer;
}
.calendar-add-event > img {
    margin-left: 10px;
}
.calendar > hr {
    margin-top: 10px;
    margin-bottom: 15px;
}
.week-day-cell {
    width: 14.25%;
    float: left;
    text-align: center;
    color: #333;
    position: relative;
}
.week-day-cell.passed {
    opacity: 0.5;
}
.bullets {
    position: absolute;
    width: 100%;
}
.green-bullet {
    display: inline-block;
    height: 6px;
    width: 6px;
    background-image: url('/images/green-bullet.png');
}
.orange-bullet {
    display: inline-block;
    height: 6px;
    width: 7px;
    background-image: url('/images/orange-bullet.png');
}
.blue-bullet {
    display: inline-block;
    height: 6px;
    width: 6px;
    background-image: url('/images/blue-bullet.png');
}
.tooltipster {
    cursor: pointer;
}

#profile-detailed-info input {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 5px 8px;
  height: 2em;
}

#profile-detailed-info input.datepicker{
  margin-bottom: 0px;
}