<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All coworkers | CRM system</title>
	<script src="./js/jquery-2.2.4.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/bootstrap.min.css"/>

	<script src="./js/main.js"></script>
	<script src="./js/profile.js"></script>

	<link rel="stylesheet" href="./css/main.css"/>
	<link rel="stylesheet" href="./css/profile.css"/>
</head>

<body>

	<div class="page-container container-fluid">

		<div th:replace="header :: header('coworkers')"></div>
		<div class="clearfix"></div>

		<div class="main-info-container container-fluid">

			<div class="col-lg-12 col-md-12 col-sm-12 block-panel" id="coworkers-info">
				<div class="block-panel-inner">
					<div class="small-heading" style="margin-bottom: 15px;" th:text="#{coworkers.title}">Your coworkers</div>

					<div class="coworker-block row" th:each="coworker : ${coworkers}">
						<a th:href="@{/(email=${coworker.email})}" th:remove="${currentUser.role.name() != 'MANAGER'}? tag">
							<div class="profile-small-user col-lg-4 col-md-4 col-sm-4">
								<img th:src="@{${coworker.photoUrl}?: ${noPhotoUrl}}" class="profile-small-photo" />

								<div class="profile-userinfo-block">
									<div class="profile-small-fullname" th:text="${coworker.firstName + ' ' + coworker.lastName}"></div>
									<div class="profile-small-position" th:text="${coworker.position}"></div>
								</div>
							</div>
						</a>

						<div class="coworker-info col-lg-2 col-md-2 col-sm-2">
							<div class="coworker-heading" th:text="#{coworkers.phoneNumber}"></div>
							<div class="coworker-value-small" th:text="${coworker.phoneNumber}?:#{coworkers.missing}"></div>
						</div>

						<div class="coworker-info col-lg-3 col-md-3 col-sm-3">
							<div class="coworker-heading" th:text="#{coworkers.email}"></div>
							<div class="coworker-value" th:text="${coworker.email}"></div>
						</div>

						<div class="coworker-info col-lg-3 col-md-3 col-sm-3">
							<div class="coworker-heading" th:text="#{coworkers.birthDate}"></div>
							<div class="coworker-value" th:text="${coworker.birthDate}?:#{coworkers.missing}"></div>
						</div>
					</div>

					<hr/>

				</div>
			</div>

		</div>
	</div>

</body>
</html>