<html xmlns:th="http://www.thymeleaf.org" >
<div class="col-lg-8 col-md-8 col-sm-8 block-panel" id="profile-calendar" th:fragment="calendar">
    <div class="block-panel-inner">
        <div class="small-heading">Your calendar</div>

        <div id="calendar"></div>

        <form id="createEventForm"
              th:if="${currentUser.id == profileUser.id or currentUser.role.name() == 'MANAGER'}"
              hidden="hidden">
            <input name="title"/>
            <input name="date" hidden="hidden"/>
            <input name="time"/>

            <input type="submit" value="Create"/>
        </form>

        <form id="updateEventForm"
              th:if="${currentUser.id == profileUser.id or currentUser.role.name() == 'MANAGER'}"
              hidden="hidden">
            <input name="title"/>
            <input name="id" hidden="hidden"/>

            <input type="submit" id="updateEvent" value="Update"/>
            <input type="submit" id="deleteEvent" value="Delete"/>
        </form>

    </div>
</div>

</html>