<html xmlns:th="http://www.thymeleaf.org" >
<div class="col-lg-8 col-md-8 col-sm-8 block-panel" id="profile-calendar" th:fragment="calendar">
    <div class="block-panel-inner">
        <div class="small-heading">Your calendar</div>

        <div class="calendar-header">
            <div class="calendar-month-picker">
                <div class="month-arrow">
                    <img src="./images/arrow-left.png" />
                </div>
                <div class="month-current">
                    June 2016
                </div>
                <div class="month-arrow">
                    <img src="./images/arrow-right.png" />
                </div>
            </div>

            <div class="calendar-add-event">
                Add Event <img src="./images/add-icon.png" />
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="calendar">
            <hr/>

            <div class="row">
                <div class="week-day-cell">SUN</div>
                <div class="week-day-cell">MON</div>
                <div class="week-day-cell">TUE</div>
                <div class="week-day-cell">WED</div>
                <div class="week-day-cell">THU</div>
                <div class="week-day-cell">FRI</div>
                <div class="week-day-cell">SAT</div>
            </div>

            <hr/>

            <div class="row">
                <div class="week-day-cell passed">29</div>
                <div class="week-day-cell passed">30</div>
                <div class="week-day-cell passed">31</div>
                <div class="week-day-cell passed">1</div>
                <div class="week-day-cell passed tooltipster" title="Holiday Whooho!" >2
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                        <span class="orange-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell passed">3</div>
                <div class="week-day-cell passed">4</div>
            </div>

            <hr/>

            <div class="row">
                <div class="week-day-cell passed tooltipster" title="Company Day 2016">5
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell passed">6</div>
                <div class="week-day-cell passed">7</div>
                <div class="week-day-cell">8</div>
                <div class="week-day-cell tooltipster" title="Diploma preparation">9
                    <div class="bullets">
                        <span class="orange-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell tooltipster" title="Diploma defence">10
                    <div class="bullets">
                        <span class="orange-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell">11</div>
            </div>

            <hr/>

            <div class="row">
                <div class="week-day-cell" title="Summer Vacation">12</div>
                <div class="week-day-cell tooltipster" title="Summer Vacation">13
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell tooltipster" title="Summer Vacation">14
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell tooltipster" title="Summer Vacation">15
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell tooltipster" title="Summer Vacation">16
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell tooltipster" title="Summer Vacation">17
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell">18</div>
            </div>

            <hr/>

            <div class="row">
                <div class="week-day-cell">19</div>
                <div class="week-day-cell">20</div>
                <div class="week-day-cell">21</div>
                <div class="week-day-cell tooltipster" title="Tooltip message...sad.as.dsa.d.sad.sad.sa.dasdasdkas asd askd aks">22
                    <div class="bullets">
                        <span class="green-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell">23</div>
                <div class="week-day-cell">24</div>
                <div class="week-day-cell">25</div>
            </div>

            <hr/>

            <div class="row">
                <div class="week-day-cell">26</div>
                <div class="week-day-cell">27</div>
                <div class="week-day-cell tooltipster" title="Tooltip message...sad.as.dsa.d.sad.sad.sa.dasdasdkas asd askd aks">28
                    <div class="bullets">
                        <span class="blue-bullet">&nbsp;</span>
                    </div>
                </div>
                <div class="week-day-cell">29</div>
                <div class="week-day-cell">30</div>
                <div class="week-day-cell passed">1</div>
                <div class="week-day-cell passed">2</div>
            </div>

            <hr/>
        </div>

    </div>
</div>

</html>