<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-12 col-md-12 col-sm-12 block-panel" id="profile-goals-info" th:fragment="goals">
    <div class="block-panel-inner">
        <div class="small-heading">Your goals</div>

        <script>
            function toggleGoals() {
                $('#in-progress-goals').toggle();
                $('#completed-goals').toggle();
                $('.small-menu-item').toggleClass('active');
                $('#createGoalForm').toggle();
            }
        </script>

        <div class="small-menu">
            <div class="small-menu-item active" onclick="toggleGoals()">
                Goals in progress
                <span class="badge red-badge" id="goals-in-progress" th:text="${inProgressGoals} ? ${inProgressGoals.size()} : 0"></span>
            </div>

            <div class="small-menu-item" onclick="toggleGoals()">
                Completed
            </div>

            <div class="clearfix"></div>
        </div>

        <div id="in-progress-goals">
            <th:block th:each="goal,iterStat : ${inProgressGoals}">
                <div class="goal-block row" th:attr="data-id=${goal.id}"
                     th:classappend="${not #lists.isEmpty(goal.childGoals) ? 'parent' : ''}">
                    <div class="goal-image col-lg-1 col-md-1 col-sm-1">
                        <img src="./images/goal.png"/>
                    </div>

                    <div class="goal-title col-lg-3 col-md-3 col-sm-3" th:text="${goal.title}"></div>

                    <div class="goal-progress col-lg-6 col-md-6 col-sm-6">
                        <div class="progress" th:classappend="${#lists.isEmpty(goal.childGoals) ? 'editable' : ''}">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 th:attr="aria-valuenow=${goal.progress}" aria-valuemin="0" aria-valuemax="100"
                                 th:style="${'width:'+goal.progress+'%'}"
                                 th:text="${goal.progress + '%'}">
                            </div>
                        </div>
                    </div>

                    <div class="goal-due-date col-lg-2 col-md-2 col-sm-2" th:text="${goal.dueDate}"></div>

                    <span class="expand-icon"></span>

                </div>


                <div class="child-goals" th:if="${goal.childGoals}" th:style="${updatedParentGoal != goal.id ? 'display:none' : ''}">
                    <div class="goal-block row child"
                         th:each="childGoal : ${goal.childGoals}"
                         th:attr="data-id=${childGoal.id}">
                        <div class="goal-title col-lg-3 col-md-3 col-sm-3 col-md-offset-1"
                             th:text="${childGoal.title}"></div>

                        <div class="goal-progress col-lg-6 col-md-6 col-sm-6">
                            <div class="progress editable">
                                <div class="progress-bar progress-bar-info" role="progressbar"
                                     th:attr="aria-valuenow=${childGoal.progress}" aria-valuemin="0" aria-valuemax="100"
                                     th:style="${'width:'+childGoal.progress+'%'}"
                                     th:text="${childGoal.progress + '%'}">
                                </div>
                            </div>
                        </div>

                        <div class="goal-due-date col-lg-2 col-md-2 col-sm-2" th:text="${childGoal.dueDate}"></div>

                    </div>
                </div>

                <hr th:if="${!iterStat.last}"/>
            </th:block>
        </div>

        <div hidden="hidden" id="completed-goals">
            <th:block th:each="goal,iterStat : ${completedGoals}">
                <div class="goal-block row" th:attr="data-id=${goal.id}">
                    <div class="goal-image col-lg-1 col-md-1 col-sm-1">
                        <img src="./images/goal.png"/>
                    </div>

                    <div class="goal-title col-lg-3 col-md-3 col-sm-3" th:text="${goal.title}"></div>

                    <div class="goal-progress col-lg-6 col-md-6 col-sm-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 th:attr="aria-valuenow=${goal.progress}" aria-valuemin="0" aria-valuemax="100"
                                 th:style="${'width:'+goal.progress+'%'}"
                                 th:text="${goal.progress + '%'}">
                            </div>
                        </div>
                    </div>

                    <div class="goal-due-date col-lg-2 col-md-2 col-sm-2 due-date-red"></div>
                </div>
                <hr th:if="${!iterStat.last}"/>
            </th:block>
        </div>

        <hr/>

        <form id="createGoalForm" class="form-inline"
              th:if="${currentUser.id == profileUser.id or currentUser.role.name() == 'MANAGER'}">
            <input name="parent" hidden="hidden"/>
            <input name="title" class="form-control input-sm" placeholder="Title"/>
            <input name="dueDate" class="form-control input-sm" placeholder="Due date"/>

            <input type="submit" class="btn btn-default btn-sm" value="Create"/>
        </form>

        <form id="updateGoalForm" class="form-inline"
              th:if="${currentUser.id == profileUser.id or currentUser.role.name() == 'MANAGER'}"
              hidden="hidden">
            <input name="id" hidden="hidden"/>
            <input name="title" class="form-control input-sm"  placeholder="Title"/>
            <input type="text" class="form-control input-sm" name="dueDate" placeholder="Due Date"/>

            <input type="submit" id="updateGoal" class="btn btn-default btn-sm" value="Update"/>
            <input type="submit" id="deleteGoal" class="btn btn-default btn-sm" value="Delete"/>
            <input type="submit" id="createSubGoal" class="btn btn-default btn-sm" value="Create sub-goal"/>
        </form>

        <div class="clearfix"></div>

    </div>
</div>
</html>